<!DOCTYPE html>
<html lang="en"> 
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Website for Preston Medical Pharmacy">
    <meta name="author" content="Matt Allen, Siddharth Gokhe, Robbie Syed">
	<title>Preston Medical Pharmacy</title>
	<link rel="stylesheet" href="css/font-awesome.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link href="css/OpenSans.css" rel="stylesheet">
	<link href="css/BenchNine.css" rel="stylesheet">
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/modernizr.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
	<!-- ====================================================
	header section -->
	<div ng-app="pharmacyApp">
		<header class="top-header">
			<div class="container">
				<div class="row">
					<div class="col-md-4 header-logo">
						</br>
						<i class="fa fa-medkit fa-6" style="font-size: 30px; margin-bottom: 10px; white-space: nowrap; text-align: left" 
						aria-hidden="true"> Preston Medical Pharmacy</i>						
					</div>

					<div class="col-md-6">
						<nav class="navbar navbar-default">
						  <div class="container-fluid nav-bar">

							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="NavController" style="width: 900px">					      
							  <ul class="nav navbar-nav">
								<li><a class="menu" html="" ng-click="gotoAnchor(1)">Home</a></li>
								<li><a class="menu" html="" ng-click="gotoAnchor(2)">About us</a></li>
								<li><a class="menu" html="" ng-click="gotoAnchor(3)">Products</a></li>
								<li><a class="menu" html="" ng-click="gotoAnchor(4)">Services</a></li>
								
								<li><a class="menu" html="" ng-click="gotoAnchor(5)">Health Links</a></li>
								<!-- Uncomment if events is fixed
								<li><a class="menu" html="" ng-click="gotoAnchor(6)">Events</a></li>-->
								<li><a class="menu" html="" ng-click="gotoAnchor(7)">Our Team</a></li>
								<li><a class="menu" html="" ng-click="gotoAnchor(8)">Contact Us</a></li>
							  </ul>
							</div><!-- /navbar-collapse -->
						  </div><!-- / .container-fluid -->
						</nav>
					</div>
				</div>
			</div>
		</header> <!-- end of header area -->

		<section class="slider" id="anchor1">
			<div class="container-fluid">
				<div class="row">
					<div id="carouselHacked" class="carousel slide carousel-fade" data-ride="carousel">
						<div class="header-backup"></div>
						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<img src="img/slide-one.jpg" alt="">
							</div>
							<div class="item">
								<img src="img/slide-two.jpg" alt="">
							</div>
							<div class="item">
								<img src="img/slide-three.jpg" alt="">			                
							</div>
							<div class="item">
								<img src="img/slide-four.jpg" alt="">
							</div>
						</div>
						<!-- Controls -->
						<a class="left carousel-control" href="#carouselHacked" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#carouselHacked" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>
		</section><!-- end of slider section -->

		<!-- about section -->
		<section class="about text-center" id="anchor2">
			<div class="container">
				<div class="row">
					<h2>About Us</h2>
					<h4>Preston Medical Pharmacy is an independently owned and operated pharmacy and home health care centre located in Cambridge, Ontario, Canada.
					We have certified professionals on staff at all times to assist you with any concerns you may have about your health care needs.</h4>
					<div class="col-md-4 col-sm-6">
						<div class="single-about-detail clearfix">
							<div class="about-img">
								<img class="img-responsive" src="img/item1.jpg" alt="">
							</div>
							<div class="about-details" style="height: 188px">
								<div class="pentagon-text">
									<i class="fa fa-heartbeat" style="font-size: 40px; line-height: 1.3"  aria-hidden="true"></i>
								</div>
								<h3>Blood Pressure Test</h3>
								<p>Monitoring your blood pressure can protect your overall health.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="single-about-detail">
							<div class="about-img">
								<img class="img-responsive" src="img/item2.jpg" alt="">
							</div>
							<div class="about-details" style="height: 188px">
								<div class="pentagon-text">
									<span class="fa-stack fa-lg" style="width: 40px">
										<i class="fa fa-clock-o fa-stack-1x" style="font-size: 40px; line-height: 1.3; padding-right: 30px"  aria-hidden="true"></i>
										<i class="fa fa-usd fa-stack-2x" style="font-size: 20px; line-height: 1.3; padding-left: 32px"  aria-hidden="true"></i>
									</span>
								</div>
								<h3>Equipment Rental</h3>
								<p>Health care equipment available for rental - when you need help, we have the product to support you during your recovery.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="single-about-detail">
							<div class="about-img">
								<img class="img-responsive" src="img/item3.jpg" alt="">
							</div>
							<div class="about-details" style="height: 188px">
								<div class="pentagon-text">
									<i class="fa fa-wrench" style="font-size: 40px; line-height: 1.3"  aria-hidden="true"></i>
								</div>
								<h3>Equipment Servicing and Repair</h3>
								<p>Repairs to most makes of manual wheelchairs and walkers.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- end of about section -->
		
		<!-- products section -->
		<section class="about text-center" id="anchor3">
			<div class="container">			
				<div class="row">
					<h2>Our Products</h2>
					<div ng-controller="ProductsCtrl">
						<select class="form-control" style="font-size: 20px; height: 50px" 
							ng-init="selectedProduct = products[0]"
							ng-model="selectedProduct"
							ng-options="product.name for product in products track by product.id">
						</select>
						<div ng-show="selectedProduct.id==1">
							<div class="col-md-4 col-sm-4">					
								<ul class="list-group">
									<h3>Medical Graduated Compression Stockings</h3>
									<li class="list-group-item" style="font-size: 20px">25 - 60mm compression</li>
									<li class="list-group-item" style="font-size: 20px">Knee length</li>
									<li class="list-group-item" style="font-size: 20px">Thigh length</li>
									<li class="list-group-item" style="font-size: 20px">Pantyhose</li>
									<li class="list-group-item" style="font-size: 20px">Maternity pantyhose</li>
								</ul>
							</div>
							<div class="col-md-4 col-sm-4">					
								<ul>
									<h3>Mastectomy</h3>
									<li class="list-group-item" style="font-size: 20px">Brassieres</li>
									<li class="list-group-item" style="font-size: 20px">Breast Prosthesis</li>
									<li class="list-group-item" style="font-size: 20px">Fitting Accessories</li>
									<li class="list-group-item" style="font-size: 20px">Lymphadema Sleeve</li>						
								</ul>
							</div>
							<div class="col-md-4 col-sm-4">					
								<ul>
									<h3>Support Stockings</h3>
									<li class="list-group-item" style="font-size: 20px">Off the shelf</li>
									<li class="list-group-item" style="font-size: 20px">12 - 25mm compression</li>						
								</ul>
							</div>
							<div class="col-md-4 col-sm-4">					
								<ul>
									<h3>T.E.D. Stockings</h3>
									<li class="list-group-item" style="font-size: 20px">For bedridden patients</li>						
								</ul>
							</div>
							<div class="col-md-4 col-sm-4">					
								<ul>
									<h3>Post-operative Compression Garments</h3>
									<li class="list-group-item" style="font-size: 20px">Mammary</li>
									<li class="list-group-item" style="font-size: 20px">Plastic surgery</li>
									<li class="list-group-item" style="font-size: 20px">Post partum and post surgical</li>						
								</ul>
							</div>
						</div>
						<div ng-show="selectedProduct.id==2">
							<h3 style="padding-left: 40px">Supplies</h3>
							<div class="col-md-6 col-sm-6">					
								<ul class="list-group">									
									<li class="list-group-item" style="font-size: 20px">Blood Presure</li>
									<li class="list-group-item" style="font-size: 20px">Monitors</li>
									<li class="list-group-item" style="font-size: 20px">Thermometers</li>
									<li class="list-group-item" style="font-size: 20px">Pregnancy Tests</li>
									<li class="list-group-item" style="font-size: 20px">Auto Lancet Devices</li>
									<li class="list-group-item" style="font-size: 20px">Data Logs</li>
									<li class="list-group-item" style="font-size: 20px">Insulin</li>
									<li class="list-group-item" style="font-size: 20px">Lancet Devices and Lancets</li>
									<li class="list-group-item" style="font-size: 20px">Starter Kits</li>
									<li class="list-group-item" style="font-size: 20px">Syringes</li>
									<li class="list-group-item" style="font-size: 20px">Test Strips (all manufacturers)</li>
								</ul>								
							</div>
							<div class="col-md-6 col-sm-6">
								<ul>									
									<li class="list-group-item" style="font-size: 20px">Stethoscopes</li>
									<li class="list-group-item" style="font-size: 20px">Otoscopes</li>
									<li class="list-group-item" style="font-size: 20px">Glucose Meters Strips</li>
									<li class="list-group-item" style="font-size: 20px">Cholesterol Meter Strips</li>
									<li class="list-group-item" style="font-size: 20px">Blood Glucose Meters</li>
									<li class="list-group-item" style="font-size: 20px">Glucose Tabs and Gel</li>
									<li class="list-group-item" style="font-size: 20px">Insulin Injector Pens</li>
									<li class="list-group-item" style="font-size: 20px">Sharps Containers</li>
									<li class="list-group-item" style="font-size: 20px">Swabs</li>
									<li class="list-group-item" style="font-size: 20px">Syringe Disposal Program</li>
									<li class="list-group-item" style="font-size: 20px">Travel Kits</li>
								</ul>
							</div>							
						</div>
						<div ng-show="selectedProduct.id==3">
							<div class="col-md-4 col-sm-4">				
								<ul class="list-group">
									<h3>Mobility</h3>
									<li class="list-group-item" style="font-size: 20px">Basic Manual Wheelchair</li>
									<li class="list-group-item" style="font-size: 20px">Transport Chairs</li>
									<li class="list-group-item" style="font-size: 20px">Canes</li>
								</ul>
							</div>
							<div class="col-md-4 col-sm-4">				
								<ul class="list-group">
									<h3>Walkers</h3>
									<li class="list-group-item" style="font-size: 20px">Folding / Adjustable</li>
									<li class="list-group-item" style="font-size: 20px">Rigid Aluminum</li>
									<li class="list-group-item" style="font-size: 20px">Wheeled / Autostop</li>
								</ul>
							</div>
							<div class="col-md-4 col-sm-4">					
								<ul>
									<h3>Accessories</h3>
									<li class="list-group-item" style="font-size: 20px">Bags, Pouches Baskets</li>					
									<li class="list-group-item" style="font-size: 20px">Cane Holder / Clip</li>
									<li class="list-group-item" style="font-size: 20px">Forearm Attachments</li>
									<li class="list-group-item" style="font-size: 20px">Rubber Tips / Hand Grips</li>
								</ul>
							</div>
						</div>
						<div ng-show="selectedProduct.id==4">
							<h3>Supplies</h3>
							<div class="col-md-6 col-sm-6">
								<ul class="list-group">
									<li class="list-group-item" style="font-size: 20px">Bed Pans</li>
									<li class="list-group-item" style="font-size: 20px">Leg Bags</li>
									<li class="list-group-item" style="font-size: 20px">Pants(disposable)</li>
									<li class="list-group-item" style="font-size: 20px">Bed-Wetting Alarms</li>
									<li class="list-group-item" style="font-size: 20px">Mattress Covers</li>
									<li class="list-group-item" style="font-size: 20px">Urinals</li>
									<li class="list-group-item" style="font-size: 20px">Colostomy Pouches</li>
									<li class="list-group-item" style="font-size: 20px">Flanges / Wafers</li>
									<li class="list-group-item" style="font-size: 20px">Irrigation Products</li>								
								</ul>
							</div>
							<div class="col-md-6 col-sm-6">
								<ul class="list-group">
									<li class="list-group-item" style="font-size: 20px">Ostomy Germicide</li>
									<li class="list-group-item" style="font-size: 20px">Urinary Pouches</li>
									<li class="list-group-item" style="font-size: 20px">Catheters (disposable & reusable)</li>
									<li class="list-group-item" style="font-size: 20px">Underpads (disposable & reusable)</li>
									<li class="list-group-item" style="font-size: 20px">Diapers</li>
									<li class="list-group-item" style="font-size: 20px">Pants (reusable-cotton, mesh or waterproof)</li>
									<li class="list-group-item" style="font-size: 20px">One and Two Piece Systems</li>
									<li class="list-group-item" style="font-size: 20px">External Catheter Systems</li>
									<li class="list-group-item" style="font-size: 20px">Inserts and Liners</li>									
								</ul>
							</div>								
						</div>
						<div ng-show="selectedProduct.id==5">
							<div class="col-md-4 col-sm-4">				
								<ul class="list-group">
									<h3>Soft Supports</h3>
									<li class="list-group-item" style="font-size: 20px">Abdominal Binders</li>
									<li class="list-group-item" style="font-size: 20px">Clavicle Supports</li>
									<li class="list-group-item" style="font-size: 20px">Hernia Aids</li>
									<li class="list-group-item" style="font-size: 20px">Lumbo-Sacral Supports</li>
									<li class="list-group-item" style="font-size: 20px">Posture Aids</li>
									<li class="list-group-item" style="font-size: 20px">Ankle Braces / Supports</li>
									<li class="list-group-item" style="font-size: 20px">Elbow Braces</li>
									<li class="list-group-item" style="font-size: 20px">Knee Braces / Supports</li>
									<li class="list-group-item" style="font-size: 20px">Obus Formes</li>
									<li class="list-group-item" style="font-size: 20px">Tennis Elbow Braces</li>
									<li class="list-group-item" style="font-size: 20px">Thumb Splints</li>
									<li class="list-group-item" style="font-size: 20px">Cervical Collars</li>
									<li class="list-group-item" style="font-size: 20px">Groin Straps</li>
									<li class="list-group-item" style="font-size: 20px">Patella Stabilizers</li>
									<li class="list-group-item" style="font-size: 20px">Sacro-Iliac Belts</li>
									<li class="list-group-item" style="font-size: 20px">Thigh Supports</li>
									<li class="list-group-item" style="font-size: 20px">Wrist Bandages / Supports</li>
								</ul>
							</div>
							<div class="col-md-4 col-sm-4">				
								<ul class="list-group">
									<h3>Foot Supports</h3>
									<li class="list-group-item" style="font-size: 20px">Bunion Guards</li>
									<li class="list-group-item" style="font-size: 20px">Heel Cushions / Cups</li>
									<li class="list-group-item" style="font-size: 20px">Corn / Callus Pads</li>
									<li class="list-group-item" style="font-size: 20px">Insoles</li>
									<li class="list-group-item" style="font-size: 20px">Metatasal Pads</li>
								</ul>
							</div>
							<div class="col-md-4 col-sm-4">					
								<ul>
									<h3>Rigid Supports</h3>
									<li class="list-group-item" style="font-size: 20px">Wrist Splint</li>					
									<li class="list-group-item" style="font-size: 20px">Philadelphia Collar</li>
								</ul>
							</div>
						</div>
						<div ng-show="selectedProduct.id==6">
							<div class="col-md-5 col-sm-100 col-md-offset-3">					
								<ul class="list-group">
									<h3>Supplies</h3>
									<li class="list-group-item" style="font-size: 20px">Bath Boards</li>
									<li class="list-group-item" style="font-size: 20px">Bed Pans</li>
									<li class="list-group-item" style="font-size: 20px">Shower / Bath Chairs</li>
									<li class="list-group-item" style="font-size: 20px">Toilet Assist Products</li>
									<li class="list-group-item" style="font-size: 20px">Tub Grab Bars</li>
									<li class="list-group-item" style="font-size: 20px">Commodes</li>
									<li class="list-group-item" style="font-size: 20px">Bath Sponges (long handled)</li>
									<li class="list-group-item" style="font-size: 20px">Commodes Hand Held Showers</li>
									<li class="list-group-item" style="font-size: 20px">Commodes Safety Mats and Strips</li>
									<li class="list-group-item" style="font-size: 20px">Commodes Tub Transfer Benches</li>
								</ul>
							</div>							
						</div>
						<div ng-show="selectedProduct.id==7">
							<div class="col-md-6 col-sm-6">				
								<ul class="list-group">
									<h3>Supplies</h3>
									<li class="list-group-item" style="font-size: 20px">Eating, Grooming and Dressing Aids</li>
									<li class="list-group-item" style="font-size: 20px">Magnifiers</li>
									<li class="list-group-item" style="font-size: 20px">Medicine Spoons, Syringes, Droppers</li>
									<li class="list-group-item" style="font-size: 20px">Reachers and Grippers</li>
									<li class="list-group-item" style="font-size: 20px">Hearing Aid Batteries</li>
									<li class="list-group-item" style="font-size: 20px">Medical Bracelets</li>
									<li class="list-group-item" style="font-size: 20px">Pill Dispensers, Crushers, Splitters</li>
									<li class="list-group-item" style="font-size: 20px">Toilets Aids</li>
									<li class="list-group-item" style="font-size: 20px">Household Aids</li>
									<li class="list-group-item" style="font-size: 20px">Medication Aids</li>
									<li class="list-group-item" style="font-size: 20px">Reading / Writing Aids</li>
									<li class="list-group-item" style="font-size: 20px">Lift Chair</li>
								</ul>
							</div>
							<div class="col-md-6 col-sm-6">					
								<ul>
									<h3>Patient Room Equipment</h3>
									<li class="list-group-item" style="font-size: 20px">Bedridden Hair Rinsers</li>
									<li class="list-group-item" style="font-size: 20px">Blanket Supports</li>
									<li class="list-group-item" style="font-size: 20px">Mattresses, Pads and Covers</li>
									<li class="list-group-item" style="font-size: 20px">Traction Accessories</li>
									<li class="list-group-item" style="font-size: 20px">Bed Rails</li>
									<li class="list-group-item" style="font-size: 20px">Bed Wedges</li>
									<li class="list-group-item" style="font-size: 20px">Beds-manual, semi and fully electric</li>
									<li class="list-group-item" style="font-size: 20px">Cervical Pillows</li>
									<li class="list-group-item" style="font-size: 20px">Mobile I.V. Stands</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- end of products section -->


		<!-- service section starts here -->
		<section class="service text-center" id="anchor4">
			<div class="container">
				<div class="row">
					<h2 style="padding-bottom: 40px">Our services</h2>
					<div class="col-md-3 col-sm-6">
						<div class="single-service">
							<div class="single-service-img">
								<div class="service-img">
									<i class="fa fa-medkit" style="color: white; font-size: 130px" aria-hidden="true"></i>
								</div>
							</div>
							<h3 style="padding-bottom: 10px">Compliance Packages</h3>
							<h4>Blister packaging to improve medication administration & increase adherence to drug therapy.</h4>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="single-service">
							<div class="single-service-img">
								<div class="service-img">
									<i class="fa fa-user-md" style="color: white; font-size: 130px" aria-hidden="true"></i>
								</div>
							</div>
							<h3 style="padding-bottom: 10px">After Hours Medication Service</h3>
							<h4>Evenings, Sundays, holidays, for those emergencies – when you need help, Preston Medical Pharmacy has you covered.</h4>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="single-service">
							<div class="single-service-img">
								<div class="service-img">
									<i class="fa fa-plus-square" style="color: white; font-size: 130px" aria-hidden="true"></i>
								</div>
							</div>
							<h3 style="padding-bottom: 10px">INR Clinic</h3>
							<h4>This is a pharmacist managed anticoagulation program utilizing point-of-care INR monitoring and a medical directive from the referring prescriber.</h4>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="single-service">
							<div class="single-service-img">
								<div class="service-img">
									<i class="fa fa-cutlery" style="color: white; font-size: 130px" aria-hidden="true"></i>
								</div>
							</div>
							<h3 style="padding-bottom: 10px">Diabetes Education</h3>
							<h4 style="padding-bottom: 90px">Preston Medical Pharmacy has 3 Certified Diabetes Educators available on staff for all patients with diabetes.</h4>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="single-service">
							<div class="single-service-img">
								<div class="service-img">
									<img class="bone img-responsive" src="img/service4.png" alt="">
								</div>
							</div>
							<h3 style="padding-bottom: 10px">QUIT Smoking Program</h3>
							<h4>This program includes 9 one-on-one discussions between the pharmacist and the patient with a 12 month follow-up period.</h4>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="single-service">
							<div class="single-service-img">
								<div class="service-img">
									<i class="fa fa-medkit" style="color: white; font-size: 130px" aria-hidden="true"></i>
								</div>
							</div>
							<h3 style="padding-bottom: 10px">Specialty Compounding</h3>
							<h4>Preparation of dosage forms not commercially available for special needs.</h4>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="single-service">
							<div class="single-service-img">
								<div class="service-img">
									<i class="fa fa-stethoscope" style="color: white; font-size: 130px" aria-hidden="true"></i>
								</div>
							</div>
							<h3 style="padding-bottom: 10px">Medscheck</h3>
							<h4>A free one-on-one, private, 20 to 30 minute consultation with one of our pharmacist to discuss how all current medications, prescriptions and over-the-counter, you are taking interact with each other. For further information please go to www.medscheck.ca.</h4>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="single-service">
							<div class="single-service-img">
								<div class="service-img">
									<i class="fa fa-list-alt" style="color: white; font-size: 130px" aria-hidden="true"></i>
								</div>
							</div>
							<h3 style="padding-bottom: 10px">Printed Medication Information Sheets</h3>
							<ul style="text-align: left; color: white; font-size: 24px">								
								<li>
									<i class="fa fa-circle" style="font-size: 10px" aria-hidden="true"></i>
									<p style="display: inline">Printed facts about your new prescription</p>
								</li>
								<li>
									<i class="fa fa-circle" style="font-size: 10px" aria-hidden="true"></i>
									<p style="display: inline">Personal medication wallet cards listing all your current medications</p>
								</li>
								<li style="margin-bottom: 70px">
									<i class="fa fa-circle" style="font-size: 10px" aria-hidden="true"></i>
									<p style="display: inline">Magazines & pamphlets on health care and disease states</p>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="single-service">
							<div class="single-service-img">
								<div class="service-img">
									<i class="fa fa-plus-square" style="color: white; font-size: 130px" aria-hidden="true"></i>
								</div>
							</div>
							<h3 style="padding-bottom: 10px">Other Pharmacy Services</h3>
							<ul style="text-align: left; color: white; font-size: 24px">								
								<li>
									<i class="fa fa-circle" style="font-size: 10px" aria-hidden="true"></i>
									<p style="display: inline">Free region wide delivery service</p>
								</li>
								<li>
									<i class="fa fa-circle" style="font-size: 10px" aria-hidden="true"></i>
									<p style="display: inline">Income tax prescription summaries</p>
								</li>
								<li style="margin-bottom: 70px">
									<i class="fa fa-circle" style="font-size: 10px" aria-hidden="true"></i>
									<p style="display: inline">Zostavax injections available</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section><!-- end of service section -->
		
		<!-- health links section -->
		<section class="about text-center" id="anchor5">
			<div class="container">
				<div class="row">
					<h2>Health Links</h2>
					<div class="col-md-4 col-sm-4">				
						<ul class="list-group">
							<h3>A</h3>
							<a href="http://www.cdnaids.ca">
								<li class="list-group-item" style="font-size: 20px">Aids Society, Canadian</li>
							</a>
							<a href="http://www.alzheimer.ca">
								<li class="list-group-item" style="font-size: 20px">Alzheimers Society of Canada</li>
							</a>
							<a href="http://www.asthma.ca">
								<li class="list-group-item" style="font-size: 20px">Asthma Society</li>
							</a>
							<a href="http://www.aa.org">
								<li class="list-group-item" style="font-size: 20px">Alcoholics Anonymous</li>
							</a>
							<a href="http://www.als.ca">
								<li class="list-group-item" style="font-size: 20px">ALS Society of Canada</li>
							</a>
							<a href="http://www.arthritis.ca">
							<li class="list-group-item" style="font-size: 20px">Arthritis Society</li>
							</a>
							<a href="http://autismcanada.org">
								<li class="list-group-item" style="font-size: 20px">Autism Society of Canada</li>
							</a>
						</ul>
					</div>
					<div class="col-md-4 col-sm-4">					
						<ul>
							<h3>B - D</h3>
							<a href="http://www.bcsc.ca">
								<li class="list-group-item" style="font-size: 20px">Breast Cancer Society of Canada</li>
							</a>
							<a href="http://www.ofcp.ca">
								<li class="list-group-item" style="font-size: 20px">Ontario Federation for Cerebral Palsy</li>
							</a>
							<a href="http://chronicpaincanada.com">
								<li class="list-group-item" style="font-size: 20px">Chronic Pain Association of Canada</li>
							</a>
							<a href="http://www.cysticfibrosis.ca">
								<li class="list-group-item" style="font-size: 20px">Cystic Fibrosis Foundation, Canadian</li>
							</a>
							<a href="http://www.ccfc.ca">
								<li class="list-group-item" style="font-size: 20px">Crohn's &amp; Colitis Foundation of Canada</li>
							</a>
							<a href="http://www.cdss.ca">
								<li class="list-group-item" style="font-size: 20px">Down Syndrome Society, Canadian</li>
							</a>
						</ul>
					</div>
					<div class="col-md-4 col-sm-4">					
						<ul>
							<h3>E - H</h3>
							<a href="http://www.nedic.ca">
								<li class="list-group-item" style="font-size: 20px">Eating Disorders Information Centre, National</li>
							</a>
							<a href="http://www.endometriosisassn.org">
								<li class="list-group-item" style="font-size: 20px">Endometriosis Association</li>
							</a>
							<a href="http://www.efa.org">
								<li class="list-group-item" style="font-size: 20px">Epilespy Foundation</li>
							</a>
							<a href="http://headachenetwork.ca/">
								<li class="list-group-item" style="font-size: 20px">Headache Network of Canada</li>
							</a>
							<a href="http://www.chs.ca">
								<li class="list-group-item" style="font-size: 20px">Hearing Association, Canadian</li>
							</a>
							<a href="http://www.heartandstroke.com">
								<li class="list-group-item" style="font-size: 20px">Heart &amp; Stroke Foundation of Canada</li>
							</a>
							<a href="http://www.hemophilia.ca">
								<li class="list-group-item" style="font-size: 20px">Hemophilia Society, Canadian</li>
							</a>
							<a href="http://www.huntingtonsociety.ca">
								<li class="list-group-item" style="font-size: 20px">Huntington Society of Canada</li>
							</a>
						</ul>
					</div>
					<div class="col-md-4 col-sm-4">					
						<ul>
							<h3>I - L</h3>
							<a href="http://www.sidscanada.org">
								<li class="list-group-item" style="font-size: 20px">Infant Deaths,Canadian Foundation</li>
							</a>
							<a href="http://www.ichelp.com">
								<li class="list-group-item" style="font-size: 20px">Interstitial Cystitis Society, Canadian</li>
							</a>
							<a href="http://www.jdrf.ca">
								<li class="list-group-item" style="font-size: 20px">Juvenile Diabetes Foundation</li>
							</a>
							<a href="http://www.kidney.ca">
								<li class="list-group-item" style="font-size: 20px">Kidney Foundation of Canada</li>
							</a>
							<a href="http://www.liver.ca">
								<li class="list-group-item" style="font-size: 20px">Liver Foundation, Canada</li>
							</a>
							<a href="http://www.lupuscanada.org">
								<li class="list-group-item" style="font-size: 20px">Lupus Canada</li>
							</a>
							<a href="http://www.lung.ca">
								<li class="list-group-item" style="font-size: 20px">Lung Association, Canadian</li>
							</a>
						</ul>
					</div>
					<div class="col-md-4 col-sm-4">					
						<ul>
							<h3>M - O</h3>
							<a href="http://www.meningitis.ca/en/">
								<li class="list-group-item" style="font-size: 20px">Meningitis Research Foundation of Canada</li>
							</a>							
							<a href="http://www.muscle.ca">
								<li class="list-group-item" style="font-size: 20px">Muscular Dystrophy Canada</li>
							</a>
							<a href="http://www.mssociety.ca">
								<li class="list-group-item" style="font-size: 20px">Multiple Sclerosis Society of Canada</li>
							</a>
							<a href="http://www.cwhn.ca/en/node/16670">
								<li class="list-group-item" style="font-size: 20px">Neurologically Disabled of Canada, Association for the</li>
							</a>
							<a href="https://www.cfdr.ca/sharing/CCFNLibrary.aspx">
								<li class="list-group-item" style="font-size: 20px">Nutrition, Canadian Council of Food and</li>
							</a>
							<a href="http://www.osteoporosis.ca">
								<li class="list-group-item" style="font-size: 20px">Osteoporosis&nbsp;</li>
							</a>
						</ul>
					</div>
					<div class="col-md-4 col-sm-4">					
						<ul>
							<h3>P - R</h3>							
							<a href="http://www.psoriasissociety.org">
								<li class="list-group-item" style="font-size: 20px">Psoriasis, Society of Canada</li>
							</a>
							<a href="http://www.parkinson.ca">
								<li class="list-group-item" style="font-size: 20px">Parkinson Foundation of Canada</li>
							</a>
							<a href="http://www.reyessyndrome.org">
								<li class="list-group-item" style="font-size: 20px">Reye’s Syndrome Foundation, National</li>
							</a>
							<a href="http://www.schizophrenia.ca">
								<li class="list-group-item" style="font-size: 20px">Schizophrenia Society of Canada</li>
							</a>
							<a href="http://www.stuttering.com/">
								<li class="list-group-item" style="font-size: 20px">Stuttering, National Center for</li>
							</a>
							<a href="http://www.sbhac.ca">
								<li class="list-group-item" style="font-size: 20px">Spina Bifida &amp; Hydrocephalus Association of Canada</li>
							</a>
							<a href="http://www.ccsa.ca">
								<li class="list-group-item" style="font-size: 20px">Substance Abuse, Canadian Centre on</li>
							</a>
						</ul>
					</div>
					<div class="col-md-4 col-sm-4">					
						<ul>
							<h3>S - T</h3>
							<a href="http://www.sciontario.org/">
								<li class="list-group-item" style="font-size: 20px">Spinal Cord Injury Ontario</li>
							</a>
							<a href="http://www.thyroid.ca">
								<li class="list-group-item" style="font-size: 20px">Thyroid Foundation of Canada</li>
							</a>
							<a href="http://www.tourette.ca">
								<li class="list-group-item" style="font-size: 20px">Tourette Syndrome Foundation of Canada</li>
							</a>
							<a href="http://www.canadiantinn.com/">
								<li class="list-group-item" style="font-size: 20px">Tinnitus &amp; Hyperacusis Centre, Canadian</li>
							</a>
						</ul>
					</div>
				</div>
			</div>
		</section><!-- end of Health links section -->

		<!-- events section starts here -->
		<!-- Table works with back end MongoDB 
		but there is no way of adding events from the front end
		
		<section class="service text-center" id="anchor6">
			<div class="container">
				<div ng-controller="EventsController">
					<div class="row">
						<h2 style="padding-bottom: 30px">Events</h2>
						<table class="table table-bordered" style="color: white; font-size: 20px">
							<tr>
								<th>Name</th>
								<th>Description</th>
								<th>Date</th>
								<th>Time</th>
								<th>Coordinator</th>
							</tr>
							<tr ng-repeat="event in events">
								<td>{{event.name}}</td>
								<td>{{event.description}}</td>
								<td>{{event.date}}</td>
								<td>{{event.time}}</td>
								<td>{{event.coordinator}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</section>
		-->
		<!-- end of events section -->

		<!-- team section -->
		<section class="team" id="anchor7">
			<div class="container">
				<div class="row">
					<div class="team-heading text-center">
						<h2>Our Team</h2>
					</div>
					<div class="col-md-2 single-member col-sm-4">
						<div class="person">
							<img class="img-responsive" src="img/member1.jpg" alt="member-1">
						</div>
						<div class="person-detail">
							<div class="arrow-bottom"></div>
							<h3 style="margin-top: 0px; margin-bottom: 0px">CEO</br>Brian Hummel</h3>
							<h4 style="color: white; margin-bottom: 7px">B.Sc.Phm., M.B.A.</h4>
							<a href="mailto:prestonmed@rogers.com" style="color: white; font-size: 20px">prestonmed@rogers.com</a>
						</div>
					</div>
					<div class="col-md-2 single-member col-sm-4">
						<div class="person-detail">
							<div class="arrow-top"></div>
							<h3>Pharmacist</br>Angela Puim</h3>
							<a href="mailto:angela_pmp@rogers.com" style="color: white; font-size: 20px">angela_pmp@rogers.com</a>
						</div>
						<div class="person">
							<img class="img-responsive" src="img/member2.jpg" alt="member-2">
						</div>
					</div>
					<div class="col-md-2 single-member col-sm-4">
						<div class="person">
							<img class="img-responsive" src="img/member3.jpg" alt="member-3">
						</div>
						<div class="person-detail">
							<div class="arrow-bottom"></div>
							<h3>Pharmacist</br>Gina Hummel</h3>
							<a href="mailto:gina_pmp@rogers.com" style="color: white; font-size: 20px">gina_pmp@rogers.com</a>
						</div>
					</div>
					<div class="col-md-2 single-member col-sm-4">
						<div class="person-detail">
							<div class="arrow-top"></div>
							<h3>Pharmacist</br>Bernice Drury</h3>
							<a href="mailto:bernice_pmp@rogers.com" style="color: white; font-size: 20px">bernice_pmp@rogers.com</a>
						</div>
						<div class="person">
							<img class="img-responsive" src="img/member4.jpg" alt="member-4">
						</div>
					</div>
					<div class="col-md-2 single-member col-sm-4">
						<div class="person">
							<img class="img-responsive" src="img/member5.jpg" alt="member-5">
						</div>
						<div class="person-detail">
							<div class="arrow-bottom"></div>
							<h3>Pharmacist</br>Ellen Thomas</h3>
							<a href="mailto:ellen_pmp@rogers.com" style="color: white; font-size: 20px">ellen_pmp@rogers.com</a>
						</div>
					</div>
					<div class="col-md-2 single-member col-sm-4">
						<div class="person-detail">
							<div class="arrow-top"></div>
							<h3>Admin / Finance</br>Louise Wild</h3>
							<a href="mailto:louise_pmp@rogers.com" style="color: white; font-size: 20px">louise_pmp@rogers.com</a>
						</div>
						<div class="person">
							<img class="img-responsive" src="img/member6.jpg" alt="member-5">
						</div>
					</div>
				</div>
			</div>
		</section><!-- end of team section -->

		<!-- contact section starts here -->
		<section id="anchor8">
			<div class="container col-md-6">
				<div class="row">
					<div class="contact-caption clearfix" style="margin-top: 0px">
						<div class="contact-heading text-center">
							<h2>contact us</h2>
						</div>
						<div class="col-md-6 contact-info text-left">
							<h3>contact information</h3>
							<div class="info-detail">
								<ul><li><i class="fa fa-calendar"></i><span>Monday - Friday:</span> 9 AM to 6 PM</li></ul>
								<ul><li><i class="fa fa-calendar"></i><span>Saturday:</span> 9 AM to 2 PM</li></ul>
								<ul><li><i class="fa fa-calendar"></i><span>Sunday:</span> Closed</li></ul>
								<ul><li><i class="fa fa-map-marker"></i><span>Address:</span> 125 Waterloo St. S. Cambridge, ON, Canada</li></ul>
								<ul><li><i class="fa fa-map-marker"></i><span>Postal Code:</span> N3H 1N3</li></ul>														
								<ul><li><i class="fa fa-phone"></i><span>Pharmacy Phone:</span> (519) 653-1870</li></ul>
								<ul><li><i class="fa fa-phone"></i><span>Medical Supplies Phone:</span> (519) 653-1994</li></ul>
								<ul><li><i class="fa fa-fax"></i><span>Fax:</span> (519) 653-9232</li></ul>
							</div>
						</div>
						<div class="col-md-6 contact-form">
							<h3>Leave us some feedback</h3>
							<form class="form" action="MAILTO:louise_pmp@rogers.com" method="post" enctype="text/plain">
								<textarea class="message" name="message" id="message" cols="30" rows="10" style="resize: none"></textarea>
								<input class="submit-btn" type="submit" value="SUBMIT">
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- map section -->
			<div class="api-map col-md-6">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12 map" id="map" style="height: 522px"></div>
					</div>
				</div>
			</div><!-- end of map section -->
		</section><!-- end of contact section -->

		<!-- footer starts here -->
		<footer class="footer clearfix">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 footer-para" style="text-align: center">
						<p>&copy;2016 Preston Medical Pharmacy</p>
					</div>
					<!-- <div class="col-xs-6 text-right">
						<a href=""><i class="fa fa-facebook"></i></a>
						<a href=""><i class="fa fa-twitter"></i></a>
						<a href=""><i class="fa fa-skype"></i></a>
					</div> -->
				</div>
			</div>
		</footer>

		<!-- script tags
		============================================================= -->
		<script src="js/jquery-2.1.1.js"></script>
		<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
		<script src="js/gmaps.js"></script>
		<script src="js/smoothscroll.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/custom.js"></script>
	</div>
</body>
</html>